<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ISP Database Test Automation">

    <listeners>
        <listener class-name="co.pragra.ISP_framework.listeners.TestListener" />
    </listeners>

    <test name="Free CRM App Test Cases">
        <classes>

            <class name="co.pragra.ISP_framework.TestCases.LoginPageTest"></class>
            <class name="co.pragra.ISP_framework.TestCases.UserDashboardTest"></class>

        </classes>
    </test>
</suite>